:root {
    --primaryColor: #2F3E50;
    --primaryFont: 'lato';
}

h1, h2, h3, p, label, span {
    color: var(--primaryColor);
    font-family: var(--primaryFont);
}

body {
    display: flex;
}

.posted-transactions {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.transaction {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    width: 50%;
}

.transaction--detail {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

input, textarea {
    resize: none;
}

.customer-type {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.returning-customer {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.returning-info {
    margin: 0 20px 0 20px;
    line-height: 1.6;
}

.new-customer {
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 20px;
}

.new-customer--detail {
    display: flex;
    flex-direction: column;
    padding: 15px 0 15px 0;
}

.transaction {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

button {
    height: 38px;
    margin-top: 30px;
}

button:hover {
    cursor:pointer;
    opacity: .6;
}

.customer-select{
    margin: 5px 10px 5px 0px;
    height: 38px;
}

.hide {
    display: none;
}

.active {
    background-color: var(--primaryColor);
}

.modal {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.6);
  }
  
  .content {
    background-color: white;
    border-radius: 4px;
    margin: auto;
    padding: 20px 40px 40px 40px;
    width: 50%;
    max-width: 450px;
    min-width: 340px;
  }

  .content--title {
    font-weight: var(--heavyWeight);
    font-size: 1.3em;
    padding: 10px 0px 0px 0px;
  }
  
  .content--body {
    font-weight: var(--lightWeight);
    opacity: .5;
    line-height: 1.6;
    font-size: 1em;
    padding: 0px 0px 10px 0px;
  }

  .content--close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: var(--mediumWeight);
  }
  
  .content--close:hover, .content--close:focus {
    color: #000;
    cursor: pointer;
  }