/* Global variables */

:root {
    --primaryColor: #1D2936;
    --secondaryColor: #b3b3b1;
    --heavyWeight: 800;
    --mediumWeight: 600;
    --lightWeight: 400;
    --bgColor: #fff;
    --fontPrimary: 'lato';
    --fontSecondary: 'merriweather';
    display: flex;
  }
  
  /* Global styles */
  
  h1, h2, h3, h4, h5, h6, p, a {
    font-family: var(--fontPrimary);
  }
  
  body {
    width: 100%;
    margin: 0px;
    background-color: #F7F8F9;
  }
  
  /* Navigation styles */
  
  nav {
    padding: 5px 0px 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
  }
  
  .nav--logo {
    font-weight: var(--heavyWeight);
    color: var(--secondaryColor);
    font-size: 13px;
    width: 30%;
  }
  
  .nav--link {
    margin: 0px 50px 0px 10px;
    color: var(--primaryColor);
    text-decoration: none;
    font-size: 13px;
  }
  
  .nav--link:hover {
    opacity: .5;
  }
  
  /* Hero section styles */
  
  .hero {
    height: 45vh;
    padding: 0px 220px 0px 50px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
  
  .hero--h1 {
    color: var(--primaryColor);
    font-weight: var(--heavyWeight);
    line-height: 1.1;
    font-size: 3em;
    margin: 0px;
  }
  
  .hero--h2 {
    color: var(--secondaryColor);
    font-weight: var(--lightWeight);
    padding: 0px 0px 10px 0px;
    font-size: 1em;
    margin: none;
  }

  .hero--avatar {
      width: 50px;
      height: 50px;
      margin: 0px 0px 20px 0px
  }

  /* Card styling */
  
.card {
    display: flex;
    justify-content: center;
}

.card--one {
    padding: 30px;
    background-color: #3B60E4;
    border-radius: 3px;
    margin: 10px 10px 10px 20px;
    flex: 1;
}
.card--two {
    flex: 1;
    padding: 30px;
    background-color: #E7415C;
    border-radius: 3px;
    margin: 10px;
}
.card--three {
    flex: 1;
    padding: 30px;
    background-color: #B713CE;
    border-radius: 3px;
    margin: 10px;
}
.card--four {
    flex: 1;
    padding: 30px;
    background-color: #09BC8A;
    border-radius: 3px;
    margin: 10px;
}
.card--five {
    flex: 1;
    padding: 30px;
    background-color: #E9A226;
    border-radius: 3px;
    margin: 10px 20px 10px 10px;
}
    
.card--title {
    color: white;
    font-weight: var(--heavyWeight);
    font-size: 1.1em;
}

.card--body{
    color: white;
    font-weight: var(--lightWeight);
    line-height: 1.7;
    opacity: .7;
    font-size: .8em;
}