body {
    background-color: rgb(238, 238, 238);
    margin: 0;
}

body > article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h2, p, label {
    font-family: 'roboto';
    color: #2F3E50;
}

/* Filter styling */

.head {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    left: 0;
    padding: 0 40px 0 40px;
    height: 50px;
    background-color: white;
    border-bottom: 1px solid #dbdbdb;
    z-index: 1;
}

.filters {
    margin-right: 100px;
    width: 70%;
}

.head > .filters > input  {
    height: 34px;
    width: 100px;
    margin: 0 10px 0 10px;
    padding-left: 10px; 
    border: 1px solid #dbdbdb;
    border-radius: 3px;
}

.head > .search > input  {
    height: 34px;
    width: 300px;
    padding-left: 10px;  
    border: 1px solid #dbdbdb;
    border-radius: 3px;
}

.head > .filters > input:active, .head > .filters > input:focus, .head > .search > input:active, .head > .search > input:focus {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    outline: none;
    border: 1px solid #3B60E4;
}

.head > .filters > button:active, .head > .filters > button:focus {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    outline: none;
}

.head > .filters > label {
    font-size: .6em;
    opacity: .7;
    font-weight: 600;
}

.head > .filters > button {
    height: 34px;
    font-size: 13px;
    padding: 6px 15px 6px 15px;
    background-color: #3B60E4;
    color: white;
    border: none;
    border-radius: 3px;
    margin-left: 10px;
}

.head > .filters > button:hover {
    cursor: pointer;
    background-color: rgb(40, 74, 197);
}

/* Card styling */

.content {
    padding: 40px 0 0 0;
}

.card {
    padding: 0;
    margin: 10px;
    width: 280px;
    height: 100%;
    border: 1px solid #dbdbdb;
    background-color: white;
    border-radius: 4px;
}

.card > h2 {
    padding: 5px 0 5px 20px;
    font-size: 1em;
}

.card > span > p {
    padding: 0 30px 15px 20px;
    font-size: .8em;
}

.card > span > p:first-child {
    padding: 15px 30px 15px 20px;
    font-size: .8em;
}

.card--image {
    width: 280px;
    height: 150px;
    margin: 0px;
}